<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <title>Login</title>
    </head>
    <body class='login'>
        <h2>Login</h2>
        <form method="POST">
            <table>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td>
                        <input class="input-field" type="text" name="username" value="{{username}}">
                    </td>
                    <td class="error">
                        {{error_username}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        <input class="input-field" type="password" name="password" value="">
                    </td>
                    <td class="error">
                        {{error_password}}
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary" type="submit"> Log In </button>
        </form>
    </body>
</html>